autom4te.cache
aclocal.m4
compile
config.*
configure
index.theme
install-sh
Makefile
Makefile.in
missing
!gnome-sakura/index.theme
!gnome-seafoam/index.theme
!gnome-slate/index.theme
!gnome-stardust/index.theme
!gnome-steel/index.theme
