Source: gnome-icon-theme
Section: gnome
Priority: optional
Maintainer: Takuo KITAME <kitame@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Akira TAGOH <tagoh@debian.org>, Andreas Rottmann <rotty@debian.org>, Andrew Lau <netsnipe@users.sourceforge.net>, Carlos Perelló Marín <carlos@pemas.net>, Edd Dumbill <ejad@debian.org>, Emil Soleyman-Zomalan <emil@nishra.com>, Gustavo Noronha Silva <kov@debian.org>, J.H.M. Dassen (Ray) <jdassen@debian.org>, Johannes Rohr <j.rohr@comlink.org>, Jordi Mallach <jordi@debian.org>, Jose Carlos Garcia Sogo <jsogo@debian.org>, Josselin Mouette <joss@debian.org>, Ondřej Surý <ondrej@debian.org>, Rob Bradford <rob@debianplanet.org>, Rob Taylor <robtaylor@fastmail.fm>, Robert McQueen <robot101@debian.org>, Ross Burton <ross@debian.org>, Sebastien Bacher <seb128@debian.org>,
Build-Depends-Indep: debhelper (>= 4.0), gettext, intltool (>= 0.28), hicolor-icon-theme, gnome-pkg-tools
Standards-Version: 3.6.1.0

Package: gnome-icon-theme
Architecture: all
Section: gnome
Depends: hicolor-icon-theme
Enhances: nautilus (>= 2.2)
Description: GNOME Desktop icon theme
 Icons which are used for GNOME desktop theme.
