Source: gnome-icon-theme-s
Section: gnome
Priority: optional
Maintainer: Kogiku <10516420+Kogiku@users.noreply.github.com>
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Indep:
 gettext,
 pkg-config,
 gtk-update-icon-cache,
 icon-naming-utils (>= 0.8.7),
 librsvg2-bin,
Standards-Version: 4.5.0
Homepage: https://github.com/Kogiku/gnome-icon-theme-slate
Vcs-Git: git://github.com/Kogiku/gnome-icon-theme-slate
Vcs-Browser: https://github.com/Kogiku/gnome-icon-theme-slate

Package: gnome-icon-theme-s
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 hicolor-icon-theme,
 gtk-update-icon-cache,
 librsvg2-common,
Enhances: nautilus (>= 2.2)
Description: soft recolors of the GNOME 3.12 icon theme
 This package contains soft recolors of the default icon theme used by
 the GNOME 3.12 desktop. The icons are used in the panel menu, and in nautilus
 and other applications, to represent the different applications, files,
 directories, and devices.
 .
 Color variants include:
 * Sakura (pink)
 * Seafoam (teal)
 * Slate (blueish)
 * Stardust (purple)
 * Steel (grey).
