#!/usr/bin/make -f
-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

BITMAPS := $(shell ls gnome | sed -rn 's/^([0-9]+)x[0-9]+$$/\1/p')

INSTDIR := debian/gnome-icon-theme/usr/share/icons/gnome

%:
	dh $@ --with gnome

override_dh_icons:
	dh_icons --no-act

override_dh_install:
	rm -r debian/gnome-icon-theme/usr/share/locale
	mkdir -p $(INSTDIR)/scalable/places
	cp debian/*.svg $(INSTDIR)/scalable/places/
	for i in $(BITMAPS); do \
		d=$${i}x$${i} ; \
		if [ -d $(INSTDIR)/$$d/places ]; then \
			mv $(INSTDIR)/$$d/places/start-here.png $(INSTDIR)/$$d/places/gnome-foot.png ; \
			rsvg-convert -w $$i -h $$i -o $(INSTDIR)/$$d/places/debian-swirl.png debian/debian-swirl.svg ; \
		fi ; \
	done
	# These categories icons conflict with gnome-control-center's own icon
	# https://gitlab.gnome.org/GNOME/gnome-control-center/issues/3
	find -name gnome-control-center* -delete -print
